%h1 Listing Clients

%table
  %tr
    %th Name
    %th Website
    %th Logo
    %th Description
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.website
      %td= image_tag client.logo.url(:thumb)
      %td= client.description[0..200]
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Client', new_client_path
