%h1 Listing clients

%table
  %tr
    %th Name
    %th Website
    %th Logo file name
    %th Logo content type
    %th Logo file size
    %th Logo updated at
    %th Description
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.website
      %td= client.logo_file_name
      %td= client.logo_content_type
      %td= client.logo_file_size
      %td= client.logo_updated_at
      %td= client.description
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Client', new_client_path
