- content_for :head do
  %title
    = "#{@client.name} -"
    Bobop - Freelance Ruby on Rails developer based in Manchester

.row
  .span16.content
    .row
      .span10
        
        %h1= @client.name
        %h2= link_to @client.website, @client.website
        %p=raw @client.description
      .span6
        .show_logo
          = image_tag @client.logo.url(:medium)
        .list_box
          .list_content
            %h2 Projects
            - @client.projects.each do |p|
              .logo
                = link_to image_tag(p.logo.url(:thumb)), project_path(p)
              %h3= link_to p.name, project_path(p)
