- content_for :head do
  %title Contact Bobop - Freelance Ruby on Rails developer based in Manchester

.row
  .span16.content
    .row
      .span12
        %h1 Contact Me
        %p I am available to hire so contact me through the details below to discuss your project:
        .row
          .span6
            %p 07811197374
            %p= link_to "ben@bobop.co.uk", "mailto:ben@bobop.co.uk"
            %address
              %strong Bobop
              %br
              Unit 17, Enterprise House
              %br
              Manchester Science Park
              %br
              Lloyd Street North
              %br
              M15 6SE
          .span6
            %p= link_to "Twitter", "http://twitter.com/bobop"
            %p= link_to "Github", "http://github.com/bobop"
            %p= link_to "LinkedIn", "http://uk.linkedin.com/in/benjgibbs"
            %p= link_to "Facebook", "http://facebook.com/bobop"
            %p= link_to "Google+", "https://plus.google.com/111410012808185125992/posts"
            %p= link_to "Working With Rails", "http://workingwithrails.com/person/17173-ben-gibbs"
      .span4.list_box
        .list_content
          %h3 Twitter Feed
          #tweets
          = link_to "Follow @bobop", "https://twitter.com/bobop", :class => "twitter-follow-button"
          %script{:type => "text/javascript", :src => "//platform.twitter.com/widgets.js"}
 
