- content_for :head do
  %title Bobop - Freelance Ruby on Rails developer based in Manchester
  %meta{:name => 'description', :content => "I'm a Freelance Ruby on Rails developer based in Manchester and am available for Hire. I use Agile, Behaviour Driven Development (BDD), Git, HTML5, CSS3, jQuery, MySQL, Postgresql, Heroku, Brightbox"}
.row{:itemscope => "", :itemtype =>"http://schema.org/Person"}
  .span16.highlight
    .span11.offset1
      %h1 
        Hello, I'm 
        %span{:itemprop => "name"}Ben Gibbs
      %h2 
        I am a 
        %span{:itemprop => "jobTitle"} Freelance Ruby on Rails developer 
        based in Manchester
      = link_to "Available for hire", contact_path, :class => "btn danger large" 
    .span1.offset2
      .social
        = link_to image_tag("twitter.png"), "http://twitter.com/bobop", "data-placement" => "right", :rel => 'twipsy me', :title => 'Bobop on Twitter', :class => "twipsy_popover"
      .social
        = link_to image_tag("github.png"), "http://github.com/bobop", "data-placement" => "right", :rel => 'twipsy me', :title => 'Bobop on Github', :class => "twipsy_popover"
      .social
        = link_to image_tag("linkedin.png"), "http://uk.linkedin.com/in/benjgibbs", "data-placement" => "right", :rel => 'twipsy me', :title => 'Bobop on LinkedIn', :class => "twipsy_popover"
      .social
        = link_to image_tag("facebook.png"), "http://facebook.com/bobop", "data-placement" => "right", :rel => 'twipsy me', :title => 'Bobop on Facebook', :class => "twipsy_popover"
      .social
        = link_to image_tag("googleplus.png"), "https://plus.google.com/111410012808185125992/posts", "data-placement" => "right", :rel => 'twipsy me author', :title => 'Bobop on Google+', :class => "twipsy_popover"
      .social{:itemprop => "email"}
        = link_to image_tag("email.png"), "mailto:ben@bobop.co.uk", "data-placement" => "right", :rel => 'twipsy me', :title => 'Email Bobop', :class => "twipsy_popover"
.row
  .span12
    .row
      .span12.list_box
        .list_content
          %h3 About Me
          %p 
            I have built a variety of live websites and web apps using Ruby and Rails over the last 5 years. I develop using an Agile process, Behaviour Driven Development and Git. Much of my work is deployed to either
            = link_to "Heroku", "http://heroku.com"
            or
            = link_to "Brightbox.", "http://brightbox.co.uk"
          %p 
            I'm an active member of a number of local groups. I regularly attend
            = link_to "North West Ruby User Group", "http://nwrug.org"
            and co-started Manchester's BootStrap Club, a social gathering of people to discuss building sustainable businesses and projects. I run 
            = link_to "Manchester Jelly,", "http://manchesterjelly.wordpress.com"
            Manchester's free, casual co-working event, I am a member of 
            = link_to "Open Data Manchester", "http://opendatamanchester.org.uk"
            and am the developer representative on the 
            = link_to "DataGM", "http://datagm.org.uk"
            Steering Committee.
    .row
      .span6.list_box
        .list_content
          %h3 Blog
          - @posts.each do |p|
            .item
              %h4 
                = link_to p.title, post_path(p)
              .small= p.date
          %p= link_to "See more Blog posts »", posts_path, :class => "btn"
      .span6.list_box
        .list_content
          %h3 Latest Projects
          - @projects.each do |p|
            .item
              .logo
                = link_to image_tag(p.logo.url(:thumb)), project_path(p) if p.logo.present?
              %h4 
                = link_to p.name, project_path(p)
              .small= p.client ? "for #{p.client.name}" : "a Bobop original"
          %p
            = link_to "See all my Projects »", projects_path, :class => "btn"
            = link_to "See my Clients »", clients_path, :class => "btn"
  .span4.list_box
    .list_content
      %h3 Twitter Feed
      #tweets
      = link_to "Follow @bobop", "https://twitter.com/bobop", :class => "twitter-follow-button"
      %script{:type => "text/javascript", :src => "//platform.twitter.com/widgets.js"}