= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :client_id
    = f.select :client_id, Client.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :logo
    = f.file_field :logo
  .field
    = f.label :screenshot
    = f.file_field :screenshot
  .field
    = f.label :description
    = f.text_area :description, :class => "span12"
  .actions
    = f.submit 'Save'
