%h1 Listing projects

%table
  %tr
    %th Client
    %th Name
    %th Website
    %th Logo file name
    %th Logo content type
    %th Logo file size
    %th Logo updated at
    %th Screenshot file name
    %th Screenshot content type
    %th Screenshot file size
    %th Screenshot updated at
    %th Description
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.client_id
      %td= project.name
      %td= project.website
      %td= project.logo_file_name
      %td= project.logo_content_type
      %td= project.logo_file_size
      %td= project.logo_updated_at
      %td= project.screenshot_file_name
      %td= project.screenshot_content_type
      %td= project.screenshot_file_size
      %td= project.screenshot_updated_at
      %td= project.description
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_project_path
