%h1 Listing Projects

%table
  %tr
    %th Client
    %th Name
    %th Website
    %th Logo
    %th Screenshot
    %th Description
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.client_id
      %td= project.name
      %td= project.website
      %td= image_tag project.logo(:thumb)
      %td= image_tag project.screenshot(:thumb)
      %td= project.description[0..200]
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_project_path
