.row
  .span16.content
    .row
      .span10
        - if notice
          .alert-message.success
            %p#notice= notice
        
        %h1
          = @project.name
          %small= "for #{@project.client.name}"
        %h2= link_to @project.website, @project.website
        = image_tag @project.screenshot.url(:medium)
        %p=raw @project.description
      .span6.show_logo
        = image_tag @project.logo.url(:medium)
