= form_for @post do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field.clearfix
    = f.label :title
    .input= f.text_field :title
  .field.clearfix
    = f.label :content
    .input= f.text_area :content, :class => "span12"
  .field.clearfix
    = f.label :publish
    .input= f.check_box :publish
  .field.clearfix
    = f.label :created_at
    .input= f.date_select :created_at
  .actions
    = f.submit 'Save'
