- content_for :head do
  %title Blog - Bobop - Freelance Ruby on Rails developer based in Manchester

.row
  .span16.content
    %h1 Blog
    %p= link_to 'New Post', new_post_path if current_user
    - @posts.each do |post|
      .row
        .span16.content
          %h2
            = post.title
            %small= post.date
          %p= "#{strip_tags(post.content)[0..300]}..."
          %p= link_to "Read More »", post_path(post), :class => "btn"
          %p= link_to 'Edit', edit_post_path(post) if current_user
          %p= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete if current_user