!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    = yield :head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %link{:rel => "SHORTCUT ICON", :href => "/assets/b.png"}
    %meta{:name => 'description', :content => "I'm a Freelance Ruby on Rails developer based in Manchester and am available for Hire."}
    = auto_discovery_link_tag(:rss, "/posts.xml")
    = csrf_meta_tags
  %body
    .container
      .row
        .span8.bobop_logo
          = link_to image_tag("bobop_logo.jpg"), root_path
        .span8
          .row
            = link_to "Home", root_path, :class => "span2 link"
            = link_to "Services", services_path, :class => "span2 link"
            = link_to "Blog", posts_path, :class => "span2 link"
            = link_to "Contact", contact_path, :class => "span2 link"
            = link_to "Logout", destroy_user_session_path, :method => :delete, :class => "btn logout" if current_user
      - if notice
        .row
          .span16
            .alert-message.success
              %p#notice= notice
      - if alert
        .row
          .span16
            .alert-message.error
              %p#alert= alert
      = yield
      %footer
        %p
          = link_to image_tag("http://i.creativecommons.org/l/by-sa/3.0/88x31.png"), "http://creativecommons.org/licenses/by-sa/3.0"
        %p
          = Time.now.strftime("%Y")
          -
          Bobop
    :javascript
      $(document).ready( function() {
          getTweets();
      });
      
      function getTweets() {
         getTwitters('tweets', { 
            id: 'bobop', 
            count: 5, 
            enableLinks: true, 
            ignoreReplies: true, 
            clearContents: true,
            template: '<p>%text%</p><span class="twittermeta time">%time%</span>'
          });
      }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-157020-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();